
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #212121;
}



#twitter-feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

button{
  padding: 10px;
  border-radius: 50px;
  background: linear-gradient(to left,#3D0047,
  #54FCF6);
  color: #6A6E72;
  cursor: pointer;
}

button+button{
  margin-left: 20px; ;
}

.post {
  border: 1px  solid;
  border-image: linear-gradient(to right,#55045C,
  #54F9FA);
  border-image-slice: 1;
  border-radius: 50px;
  margin: 10px;
  padding: 15px;
  width: 300px;
}

.twitter-feed {
  margin-top: 20px;
}

.user {
  font-weight: bold;
  font-size: 20px;
  color:#E7E9EA ;
}

.content {
  margin-top: 10px;
}

.title {
  font-size: 1.2em;
  font-weight: bold;
  color: #6A6E72;
}

.text {
  margin: 5px 0 20px;
  color:#E7E9EA ;
}

.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%,rgb(0, 225, 255));
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
  position: fixed;
  top: 50%;
  left: 50%;
}

.spinner1 {
  background-color: rgb(36, 36, 36);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}

body.loading .spinner {
  display: block;
}

body.loaded .spinner {
  display: none;
}

.loaded #add-button {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  display: flex;
  align-items: center;
}

.label-title{
  
}


.input-title,
.textarea-text{
  max-width: 177px;
  height: 21px;
}

.label-text{
  margin-left: 20px;
}

.add-btn{
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #ffffff;
}

.add-btn::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0064fa 0%, #8de6fc 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 .add-btn:hover::before {
  width: 9em;
 }

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  margin-left: 50px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#add-button {
  display: none; /* Initially hide the "Add Publication" button */
}

.animated-button {
  margin: 50px 40px 0;
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #71767A;
  box-shadow: 0 0 0 2px #ffffff20;
  cursor: pointer;
  overflow: hidden;
  transition: all  0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #2196F3;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:first-child {
  position: relative;
  z-index: 1;
}

.animated-button:hover {
  box-shadow: 0 0 0 5px #2195f360;
  color: #ffffff;
}

.animated-button:active {
  scale: 0.95;
}

.animated-button:hover span:last-child {
  width: 198px;
  height: 198px;
  opacity: 1;
}